*.egg-info
.env
.flyte
.venv
__pycache__/
notes.md
/docs
traces/
*.jsonl
tutorials/starter-examples/flyte-local-dev/data
*.pt
data
.claude
claude.md
*.joblib
*.tar.gz
checkpoint_step_*/
eval_checkpoint_*/
feast_artifacts